<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>

<body>
    <a href="about.html">About Page</a>
    <h1>This is Index Page</h1>
    {{!-- load header partial view --}} {{> _header }}
    <div>
        <h1>
            This is Index Page Content
        </h1>
    </div>
    {{!-- load footer partial view --}} {{> _footer }}
</body>

</html>